@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
	box-sizing: border-box;
}


html {
	font: 10px/1.6 'Open Sans', serif;
	height: 100%;
}

body {
     font-size: 1.6rem;
     color: #333;
     min-height: 100%
}

.desk {
	height:404px;
	width:24.1%;
	margin:auto;
	background-color: white;
	background-image: linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black), 
	linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black);
	background-size:100px 100px;
	background-position: 0 0, 50px 50px;
	border: 2px solid #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	
}

span {
	display:inline-block;
	background-color: #e83923;
	padding: 2px 5px;
	border-radius: 20px;
	min-width: 30px;
	position: absolute;
	border: 2px solid green;
	text-align: center;
	
	
}

.chess--black {
	color:#fff;
	background-color: #000;
}

.col--1 {
	top: 5px;
	left: 10px;
}

.col--2 {
	top: 5px;
	left: 60px;	
}

.col--3 {
	top: 5px;
	left: 110px;	
}

.col--4 {
	top: 5px;
	left: 160px;	
}

.col--5 {
	top:5px;
	left:210px
}

.col--6 {
	top:5px;
	left:260px
}

.col--7 {
	top:5px;
	left:310px
}

.col--8 {
	top:5px;
	left:360px
}

.row--2{
	top:60px;
}

.row--3 {
	top:110px
}

.row--6 {
	top:260px;
}

.row--7 {
	top:310px;
}

.row--8 {
	top:360px
}
